<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Audiophiles - Step into a world of music</title>

    <!-- STYLES -->
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <!-- External CSS -->
    <link rel="stylesheet" href="styles/style.css">
</head>

<body>
    <div id="app" v-cloak>
        <div style="display:block;">
            <nav class="navbar navbar-light bg-transparent">
                <div class="container-fluid">
                    <span class="navbar-brand mb-0 h1 text-light">Audiophiles
                        <div class="btn-group">
                            <button type="button" class="text-light btn dropdown-toggle" data-bs-toggle="dropdown">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-list" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
                                </svg></button>
                            <div class="dropdown-menu dropdown-menu-left">
                                <a href="../index.html" class="dropdown-item active">Home</a>
                                <a href="spotify-files/index.html" class="dropdown-item">Spotify</a>
                                <a href="#" class="dropdown-item">Upload</a>
                            </div>
                        </div>
                    </span>
                </div>
            </nav>
        </div>
        <div class="container position-fixed text-center"
            style="width: 100%; left:0; right:0; bottom:30px; z-index: 2;">
            <div class="row">
                <div class="col-lg-4 py-1">
                    <select id="music-dropdown" v-model="currSong" @change="changeSong">
                        <option v-for="song in songs" :value="song">{{ song }}</option>
                    </select>
                </div>
                <div class="col-lg-4 py-1">
                    <div id="controls">
                        <div id="play" @click="playSound" v-if="!isPlaying"><i data-feather="play"></i></div>
                        <div id="pause" @click="pauseSound" v-else><i data-feather="pause"></i></div>
                        <div id="stop" @click="stopSound"><i data-feather="square"></i></div>
                        <input id="volume" type="range" min="0" max="1" step="0.01" v-model="volume" @input="setVolume">
                    </div>
                </div>
                <div class="col-lg-4 py-1 text-center text-white">
                    <h5>Change Scenes</h5>
                    <ul id="sceneControls" class="d-flex justify-content-center">
                        <li v-for="scene in scenes"><a @click="changeScene(scene)"><i data-feather="circle"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <canvas id="c" style="z-index:-1;top:0;"> </canvas>
    </div>

    <!-- SCRIPTS -->
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
    <!-- V3 Vue.js -->
    <script src="https://unpkg.com/vue@next"></script>
    <!-- Axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- Feather Icon -->
    <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
    <!-- External JS -->
    <script type="module" src="scripts/main.js"></script>
</body>

</html>