@font-face {
font-family: Raleway-Regular;
src: url('../fonts/raleway/Raleway-Regular.ttf');
}

@font-face {
font-family: Raleway-Medium;
src: url('../fonts/raleway/Raleway-Medium.ttf');
}

@font-face {
font-family: Raleway-SemiBold;
src: url('../fonts/raleway/Raleway-SemiBold.ttf');
}

@font-face {
font-family: Raleway-Bold;
src: url('../fonts/raleway/Raleway-Bold.ttf');
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#uploadInputs {
  font-size: 18px;
  font-family: Raleway-Regular, sans-serif;
  color: #333;
  line-height: 1.5rem;
}

body {
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

main {
  display: flex;
  flex-direction: column;
}

header {
  margin-top: 1rem;
}

.drop-zone-area {
  max-width: 300px;
  height: 200px;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: Raleway-Regular, sans-serif;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
  color: #cccccc;
  border: 4px dashed #333333;
  border-radius: 10px;
}

.drop-input{
  display: none;
}
